<div class="jumbotron center">
     
     
     <% if user_signed_in? %>
     You're one step closer to awesome.  

     <br>
     <br>
    
       <%= link_to 'Add to My List', items_path, class: "btn btn-primary btn-lg" %>

     <% else %>
        <div class=jumbotron center">
         	<p> <img src ="http://kickthelist.com/assets/logo4.png"><br>
            <h2><p> 'Cause life's too short not to. <p><h2>
           	<br><%= link_to "Get Kickin", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      		</p>  
        </div>
      <% end %>

</div>
