<div class="jumbotron center">
     


     
     <% if user_signed_in? %>
     
     <h2> Even more Awesome than You thought. <h2>
      <p> <h2>Keep it goin'<p>
      <br>
    
       <%= link_to 'Add More Cool Stuff', items_path, class: "btn btn-primary btn-lg" %>
<br>
<br>
        <hr height="10px" width="100%"/>
       <p> <h4> Check Out What Other People Are Doing<h4><p>

     <% else %>
        <div class=jumbotron center">
         	 
            <p> <img style= "width: 100%" src ="http://kickthelist.com/assets/logo4.png"><br>
             
            <h2><p> 'Cause life's too short not to. <p><h2>
           	<br><%= link_to "Start", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
            <%= link_to 'or Sign in', new_user_session_path, style: "font-size: 14px" %>
      		</p>  
        </div>

        <br>

              <hr height="10px" width="100%"/>
                                
                                




      <% end %>

</div>


