<div class="jumbotron center">
     


     
     <% if user_signed_in? %>
     You're one step closer to awesome.  

     <br>
     <br>
    
       <%= link_to 'Add to My List', items_path, class: "btn btn-primary btn-lg" %>

     <% else %>
        <div class=jumbotron center">
         	 
            <p> <img style= "width: 100%" src ="http://kickthelist.com/assets/logo4.png"><br>
             
            <h2><p> 'Cause life's too short not to. <p><h2>
           	<br><%= link_to "Start", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
            <%= link_to 'or Sign in', new_user_session_path, style: "font-size: 14px" %>
      		</p>  
        </div>

        <div class="jumbotron center">

              <hr height="4px" width="100%"/>
                                <div id="fb-root"></div>
                      <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));</script>

                      <div class="fb-like-box" data-href="http://www.facebook.com/KickTheList" data-width="1000px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
              
              <hr size="2" width="100%"/>

          </div>


      <% end %>

</div>


