<div class="jumbotron center">
     
     
     <% if user_signed_in? %>
     You're one step closer to awesome. 
     <p> Stay tuned for updates...   
     <% else %>
        <div class=jumbotron center">
         	<p> <img src ="http://kickthelist.com/assets/logo4.png"><br>
         		<p> Cause life's too short not to. <p>
           	<br><%= link_to "Start Kickin!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      		</p>  
        </div>
      <% end %>

</div>
