<div class="jumbotron center">
     


     
     <% if user_signed_in? %>
     You're one step closer to awesome.  

     <br>
     <br>
    
       <%= link_to 'Add to My List', items_path, class: "btn btn-primary btn-lg" %>

     <% else %>
        <div class=jumbotron center">
         	 
            <p> <img style= "width: 100%" src ="http://kickthelist.com/assets/logo4.png"><br>
             
            <h2><p> 'Cause life's too short not to. <p><h2>
           	<br><%= link_to "Start", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
            <%= link_to 'or Sign in', new_user_session_path, style: "font-size: 14px" %>
      		</p>  
        </div>

        <br>

              <hr height="10px" width="100%"/>
                                
                                <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FKickTheList&amp;width=800&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:258px;" allowTransparency="true"></iframe>

          </div>


      <% end %>

</div>


