<h1>Everything I Want to Do</h1>

<br>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.description %></td> 
        <td><%= link_to 'Show', item %> </td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add more', new_item_path, class: "btn btn-primary" %>
